{%- comment -%}
    Renders a product card

    Accepts:
	- product_card_product: {Object} Product Liquid object (optional)
    - settings_image_ratio: {String} Size of the product image card. Values are "auto", "portrait", "landscape", "square" and "round". Default is "auto" (optional)
    - hover_underline: {Boolean} The product name hover underline. Default: false (optional)
    - truncate_product_name: {Boolean} Truncate the product name. Value is 48. Default: false (optional)
    - show_price: {Boolean} Show the product price. Default: true
    - button_type_product: {String} Size of the product image card. Values are "hide", "show", "show only text" and "show only icon". Default is "show"
	- section_id: {String} The ID of the section that contains this card.

    Usage:
    {% render 'product-card-complementary' %}
{%- endcomment -%}

{%- assign last_characters = 'general.abbreviation_of_text_in_a_section.last_characters' | t -%}
{%- assign image = product_card_product.featured_media -%}
<div class="product-card{% if settings.enable_zoom_animation %} image-hover-scaling-up{% endif %} position-relative hover-area{% if settings.product_card_image_resize == "contain" %} product-card-image--contain{% endif %}{% if image == blank %} product-card--no-image{% endif %}">
  {%- liquid
  if settings_image_ratio != 'auto'
  capture image_ratio
  if settings_image_ratio == '1, round-image'
  	echo settings_image_ratio | split: ',' | first
  else
  	echo settings_image_ratio
  endif
  endcapture
  else
    assign image_ratio = product_card_product.featured_media.aspect_ratio
    if product_card_product.featured_media.aspect_ratio == nil
    assign image_ratio = 1
    endif
  endif
  -%}
  
  {%- if image != blank -%}
  <a href="{{ product_card_product.url }}" class="product-card__image image-hover-scaling__image border__radius{% if settings_image_ratio== '1, round-image' %} border__radius--circle{% endif %}"
       style="--aspect-ratio: {{ image_ratio }};"
       >
    <img srcset="{%- if image.width >= 180 -%}{{ image | image_url: width: 180 }} 180w,{%- endif -%}
                 {%- if image.width >= 400 -%}{{ image | image_url: width: 390 }} 400w,{%- endif -%}
                 {%- if image.width >= 470 -%}{{ image | image_url: width: 470 }} 470w,{%- endif -%}
                 {%- if image.width >= 620 -%}{{ image | image_url: width: 620 }} 620w,{%- endif -%}
                 {%- if image.width >= 1240 -%}{{ image | image_url: width: 1240 }} 1240w,{%- endif -%}
                 {{ image | image_url }} {{ image.width }}w"
         src="{{ image | image_url: width: 400 }}"
         sizes="(min-width: 1440px) calc(({{ settings.page_width }}px - 20px) / 2),(min-width: 993px) calc((100vw - 140px) / 2),(min-width: 577px) calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2),calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2)"
         width="{{ image.width }}"
         height="{{ image.height }}"
         loading="lazy"
         alt="{{ image.alt | escape }}"
         {% render "additional-image-attributes" %}
         >
  </a>
  {%- endif -%}
  <div class="product-card__container mt--first-child-0">

    <div class="mt5 body2">
      <a href="{{ product_card_product.url }}" class="product-card__heading{% if hover_underline %} animation-underline animation-underline--thin{% endif %}">
        {%- if truncate_product_name -%}
        {{ product_card_product.title | escape | truncate: 48,last_characters }}
        {%- else -%}
        {{ product_card_product.title | escape }}
        {%- endif -%}
      </a>
    </div>

    {%- if show_price -%}
    {%- render 'price', product: product_card_product -%}
    {%- endif -%}
    {%- if button_type_product != "hide" -%}

    {%- if product_card_product.variants.size > 1 and product_card_product.available -%}

    <modal-opener class="no-js-hidden" data-modal="#QuickAdd-{{ product_card_product.id }}">
      {%- assign product_form_id = section_id | append: product_card_product.id -%}
      <button id="{{ product_form_id }}-submit"
              type="submit"
              name="add"
              class="quick-add__submit btn btn_zoom btn--add-to-cart w-full-sp"
              aria-haspopup="dialog"
              aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product_card_product.id }}"
              data-product-url="{{ product_card_product.url }}"
              >
        <span>{{ 'products.product.choose_options' | t }}</span>
        <div class="loading-overlay__spinner hidden">
          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </button>
    </modal-opener>
    
    <quick-add-modal id="QuickAdd-{{ product_card_product.id }}" class="popup-modal{% if product_card_product.featured_media == blank %} quick-add-modal--single-row{% endif %}">
      <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: product_card_product.title | escape }}" aria-modal="true" class="popup-modal__content">
        <button id="ModalClose-{{ product_card_product.id }}" type="button" class="popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">
          {% render 'icon-close' %}
        </button>
        <div id="QuickAddInfo-{{ product_card_product.id }}" class="quick-add-modal__content-info">
        </div>
      </div>
    </quick-add-modal>
    
    {%- else -%}
    
    <product-form>
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        {%- render "icon-attention" -%}
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product', product_card_product, id: product_card_product.id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" name="id" value="{{ product_card_product.selected_or_first_available_variant.id }}">
      <button type="submit"
              name="add"
              class="quick-add__submit btn btn_zoom btn--add-to-cart w-full-sp{% if button_type_product == "only_icon" %} only-child{% endif %}"
              {% if product_card_product.selected_or_first_available_variant.available == false %}
              disabled
              aria-disabled="true"
              {% endif %}
              >
        {%- if product_card_product.selected_or_first_available_variant.available -%}
        {%- if button_type_product != "only_text" -%}{%- render "icon-cart" -%}{%- endif -%}
        {%- if button_type_product != "only_icon" -%}
        <span>
          {{ 'products.product.add_to_cart' | t }}
        </span>
        {%- endif -%}
        {%- else -%}
        <span>{{ 'products.product.sold_out' | t }}</span>
        {%- endif -%}
        
        <div class="loading-overlay__spinner hidden">
          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
        
      </button>
      {%- endform -%}
    </product-form>
    
    {%- endif -%}
    {%- endif -%}
  </div>
</div>