<link rel="stylesheet" href="{{ 'component-inputs.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="top-spacing-normal">
  <div class="page-width">
    <div class="grid justify-content-center text-center heading--mb">
      <div class="col-6 col-st-12">
        <h1 class="mt0 mb0">{{ 'customer.register.title' | t }}</h1>
      </div>
    </div>
    <div class="grid justify-content-center text-center">
      <div class="col-sp-12 col-st-8 col-4">
        
        {%- form 'create_customer', novalidate: 'novalidate' -%}
        
        {%- if form.errors -%}
        <div class="errors-container errors">
          <h3 class="mt0 mb0" autofocus>
            {{ 'templates.contact.form.error_heading' | t }}
          </h3>
          <ul> 
            {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
              {%- else -%}
              <a href="#RegisterForm-{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
        </div>
        {%- endif -%}

        <div class="field w-full">
          <input class="field__input"
                 type="text"
                 name="customer[first_name]"
                 id="RegisterForm-FirstName"
                 {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
                 autocomplete="given-name"
                 placeholder="{{ 'customer.register.first_name' | t }}"
                 >
          <label class="field__label" for="RegisterForm-FirstName">{{ 'customer.register.first_name' | t }}</label>
        </div>
        <div class="field w-full mt20">
          <input class="field__input"
                 type="text"
                 name="customer[last_name]"
                 id="RegisterForm-LastName"
                 {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
                 autocomplete="family-name"
                 placeholder="{{ 'customer.register.last_name' | t }}"
                 >
          <label class="field__label" for="RegisterForm-LastName">{{ 'customer.register.last_name' | t }}</label>
        </div>
        <div class="field w-full mt20">
          <input class="field__input"
                 type="email"
                 name="customer[email]"
                 id="RegisterForm-email"
                 {% if form.email %} value="{{ form.email }}"{% endif %}
                 spellcheck="false"
                 autocapitalize="off"
                 autocomplete="email"
                 aria-required="true"
                 {% if form.errors contains 'email' %}
                 aria-invalid="true"
                 aria-describedby="RegisterForm-email-error"
                 {% endif %}
                 placeholder="{{ 'customer.register.email' | t }}"
                 required
                 >
          {%- if form.errors contains 'email' -%}
          <label class="field__label field__label--error" for="RegisterForm-email-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</label>
          {%- else -%}
          <label class="field__label" for="RegisterForm-email">{{ 'customer.login_page.email' | t }}</label>
          {%- endif -%}
        </div>
        <div class="field w-full mt20">
          <input class="field__input"
                 type="password"
                 name="customer[password]"
                 id="RegisterForm-password"
                 aria-required="true"
                 {% if form.errors contains 'password' %}
                 aria-invalid="true"
                 aria-describedby="RegisterForm-password-error"
                 {% endif %}
                 placeholder="{{ 'customer.register.password' | t }}"
                 required
                 >
          {%- if form.errors contains 'password' -%}
          <label class="field__label field__label--error" for="RegisterForm-password-error">{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</label>
          {%- else -%}
          <label class="field__label" for="RegisterForm-password">{{ 'customer.register.password' | t }}</label>
          {%- endif -%}
        </div>
        
        <div class="mt30">
          <button class="btn btn_zoom w-full-sp">
            <span>{{ 'customer.register.submit' | t }}</span>
          </button>
        </div>

        {%- endform -%}
        
      </div>
    </div>
    
  </div>
</div>