<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}" data-role="{{ theme.role }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold_weight = '600'
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', body_font_bold_weight
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    
    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {%- capture body_font_bold_value -%}{{ body_font_bold | font_face: font_display: 'swap' }}{%- endcapture -%}
      {%- if body_font_bold_value == '' -%}
      {%- liquid
      	assign body_font_bold_weight = 'bold'
        assign body_font_bold = settings.type_body_font | font_modify: 'weight', body_font_bold_weight
        assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      %}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {%- else -%}
      {{body_font_bold_value}}
      {%- endif -%}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

	  #admin-bar-iframe,#preview-bar-iframe{display:none!important}
    
      :root {
    	--duration-short: .2s;
        --duration-medium: .3s;
    	--duration-large: .5s;
    	--animation-bezier: ease;
    	--zoom-animation-bezier: cubic-bezier(.15,.75,.5,1);
    
        --animation-type: cubic-bezier(0, 0, 0.3, 1);
        --animation-time: .5s;

        --product-thumbnail_move-up: 0.35s;
        --product-thumbnail_move-up_type: linear;
        --product-thumbnail-button_opacity_hover: 0.15s;
        --product-thumbnail-button_opacity_over: 0.3s;
        --product-thumbnail-button_opacity_type: linear;
        --product-thumbnail-button_move: 0.35s;
        --product-thumbnail-button_move_type: linear;

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
    
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
    	--font-body-bold-weight: {{ body_font_bold_weight }};
    
    	--font-heading-scale: {{ settings.heading_scale | divided_by: 100.0 }};
        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
    
        --font-body-size: calc(16px * var(--font-body-scale));
        --font-body-line-height: 130%;
        --font-body2-size: calc(14px * var(--font-body-scale));
        --font-body2-line-height: 130%;
        --font-body3-size: calc(12px * var(--font-body-scale));
        --font-body3-line-height: 130%;
        --font-body4-size: calc(10px * var(--font-body-scale));
        --font-body4-line-height: 130%;

        --color-body-background: {{ settings.color_background }};
        --color-secondary-background: {{ settings.color_secondary_background }};
      	--color-section-background: var(--color-secondary-background);

        --color-base:{{ settings.color_base }};
    	--color-base-rgb: {{ settings.color_base.red }}, {{ settings.color_base.green }}, {{ settings.color_base.blue }};
        --color-accent:{{ settings.color_accent }};
        --color-subheading: var(--color-accent);
        --color-text-link:{{ settings.color_text_link }};

        --color-price: {{ settings.color_price }};
        --color-old-price: {{ settings.color_save_price }};
        --color-lines-borders: {{ settings.color_base | color_modify: 'alpha', 0.3 }};
        --color-input-background: {{ settings.color_input_background }};
        --color-input-text: {{ settings.color_input_text }};
        --color-input-background-active: var(--color-body-background);
        --color-icons: {{ settings.color_icons }};
        --opacity-icons: {{ settings.icon_opacity | divided_by: 100.00 }};
    
    	--shadow: 0px 4px 20px rgba(22, 19, 69, 0.13);

    	{%- assign accent_brightness = settings.color_base | color_extract: 'lightness' -%}
    	--auto-text-color-button-light: {%- if accent_brightness < 50 -%}var(--color-base){% else %}#000000{% endif %};   
    	--auto-text-color-button-dark: #ffffff;
    	--auto-input-color-active-border-dark: rgba(255,255,255,0.3);
    
      	{%- assign accent_brightness = settings.color_base | color_extract: 'lightness' -%}
        {%- if accent_brightness < 50 -%}
    	--auto-text-color--with-base-color: #ffffff;
    	{%- else -%}
    	--auto-text-color--with-base-color: #000000;
    	{%- endif -%}

        --radius: {{ settings.roundness }}px;
    	--radius-input: {{ settings.roundness_input_buttons }}px;
    	--radius-button: {{ settings.roundness_input_buttons }}px;
    	--radius-badge:{% if settings.roundness == 0 %}0{% else %}3px{% endif %};
    	--radius-checkbox:{% if settings.roundness == 0 %}0{% else %}4px{% endif %};

        --color-badge-1:{{ settings.color_save_badge }};
    	{%- assign accent_brightness = settings.color_save_badge | color_extract: 'lightness' -%}
        {%- if accent_brightness < 50 -%}
    	--color-badge-1-text: var(--auto-text-color-button-dark);
    	{%- else -%}
    	--color-badge-1-text: var(--auto-text-color-button-light);
        {%- endif -%}

        --color-badge-2:{{ settings.color_featured_badge }};
    	{%- assign accent_brightness = settings.color_featured_badge | color_extract: 'lightness' -%}
        {%- if accent_brightness < 50 -%}
    	--color-badge-2-text: var(--auto-text-color-button-dark);
    	{%- else -%}
    	--color-badge-2-text: var(--auto-text-color-button-light);
        {%- endif -%}
    
        --color-badge-3:{{ settings.color_soldout_badge }};
    	{%- assign accent_brightness = settings.color_soldout_badge | color_extract: 'lightness' -%}
        {%- if accent_brightness < 50 -%}
    	--color-badge-3-text: var(--auto-text-color-button-dark);
    	{%- else -%}
    	--color-badge-3-text: var(--auto-text-color-button-light);
        {%- endif -%}
    
    	--color-error: {{ settings.color_alert }};
    
        --form_field-height: 50px;

        --page-width: {{ settings.page_width }}px;
        --page-padding: {{ settings.spacing_grid_horizontal }}px;

        --sections-top-spacing: 100px;
    	--sections-top-spacing-mobile: 80px;
		--sections-top-spacing--medium: 80px;
    	--sections-top-spacing--medium-mobile: 60px;
		--sections-top-spacing--small: 40px;
    	--sections-top-spacing--small-mobile: 40px;

        --padding1: 10px;
        --padding2: 20px;
        --padding3: 30px;
        --padding4: 40px;
    	--padding5: 60px;
      }

      *,
      *::before,
      *::after {
      	box-sizing: border-box;
      }
      html {
        box-sizing: border-box;
        height: 100%;
     	-webkit-tap-highlight-color: transparent;
    	scroll-behavior: smooth;
      }
      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: var(--font-body-size);
        line-height: var(--font-body-line-height);
        color: var(--color-base);
    	background: var(--color-body-background);
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
        -webkit-text-size-adjust: none;
    	text-size-adjust: none;
    	overflow-x: hidden;
      }
       
      {%- assign accent_brightness = settings.color_accent | color_extract: 'lightness' -%}
      .btn{
        --background: var(--color-accent);
        {%- if accent_brightness < 50 -%}
    	--color: var(--auto-text-color-button-dark);
    	--fill: var(--auto-text-color-button-dark);
    	{%- else -%}
    	--color: var(--auto-text-color-button-light);
    	--fill: var(--auto-text-color-button-light);
        {%- endif -%}
      }

      {%- assign accent_brightness = settings.color_base | color_extract: 'lightness' -%}
      .btn--secondary{
        --background: var(--color-base);
        {%- if accent_brightness < 50 -%}
    	--color: var(--auto-text-color-button-dark);
    	--fill: var(--auto-text-color-button-dark);
    	{%- else -%}
    	--color: var(--auto-text-color-button-light);
    	--fill: var(--auto-text-color-button-light);
        {%- endif -%}
      }
    
    .visually-hidden {
      position: absolute!important;
      overflow: hidden;
      margin: -1px;
      border: 0;
      clip: rect(0 0 0 0);
      word-wrap: normal!important;
    }
    .visually-hidden:not(:focus),
    .visually-hidden:not(:focus-visible){
      width: 1px;
      height: 1px;
      padding: 0;
    }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'component-inputs.css' | asset_url | stylesheet_tag }}
    {{ 'component-modal.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
    
    <script>
      var minion = {
        domain: '{{ shop.domain }}',
        shop: '{{ shop.permanent_domain }}'
      };
    </script>
  </body>
</html>
