{%- if settings.animate_content_show -%}
<link rel="stylesheet" href="{{ 'section-banners.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-banners.css' | asset_url | stylesheet_tag }}</noscript>
{%- else -%}
{{ 'section-banners.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- capture section_styles -%}
{%- for block in section.blocks -%}
{%- if block.settings.color_subheading != "rgba(0,0,0,0)" -%}
  #image-banner-block-{{ block.id }} .image-banner__subheading{
    color: {{ block.settings.color_subheading }};
  }
{%- endif -%}
{%- if block.settings.color_heading != "rgba(0,0,0,0)" -%}
  #image-banner-block-{{ block.id }} .image-banner__heading{
    --color-base: {{ block.settings.color_heading }};
  }
{%- endif -%}
{%- if block.settings.color_description != "rgba(0,0,0,0)" -%}
  #image-banner-block-{{ block.id }} .image-banner__description{
    color: {{ block.settings.color_description }};
  }
{%- endif -%}

{%- if block.settings.image_overlay_opacity > 0 -%}
  #image-banner-block-{{ block.id }} .image-hover-scaling__image:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: {{ settings.image_overlay_color }};
    border-radius: var(--radius);
    opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.00 }};
  }
{%- endif -%}
{%- if block.settings.show_background and block.settings.color_background != "rgba(0,0,0,0)" -%}
  #image-banner-block-{{ block.id }} .image-banner__content--bg>*:before{
    background: {{ block.settings.color_background }};
  }
{%- endif -%}

{%- if block.settings.button_primary_bg != "rgba(0,0,0,0)" -%}
{%- assign accent_brightness = block.settings.button_primary_bg | color_extract: 'lightness' -%}
  #image-banner-block-{{ block.id }} .btn:not(.btn--secondary){
    --background: {{ block.settings.button_primary_bg }};
    {%- if accent_brightness < 50 -%}
	--color: var(--auto-text-color-button-light);    
    {%- else -%}
	--color: var(--auto-text-color-button-dark);
    {%- endif -%}
  }
{%- endif -%}
{%- if block.settings.button_secondary_bg != "rgba(0,0,0,0)" -%}
{%- assign accent_brightness = block.settings.button_secondary_bg | color_extract: 'lightness' -%}
  #image-banner-block-{{ block.id }} .btn.btn--secondary{
    --background: {{ block.settings.button_secondary_bg }};
    {%- if accent_brightness < 50 -%}
    --color: var(--auto-text-color-button-light);
    {%- else -%}
	--color: var(--auto-text-color-button-dark);
    {%- endif -%}
  }
{%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>
  @media (min-width: 993px){
    {{ section_styles }}
  }
</style>
{%- endif -%}

<div id="image-banner-{{ section.id }}" class="top-spacing-{{ section.settings.top_spacing }}" data-section-name="banners">
  <div class="{{ section.settings.width }} mb--last-child-0">
    
    {%- render "section-heading" section:section -%}
    
    {%- if section.blocks.size > 0 -%}
    <div class="grid el_mt_40 image-banner__mobile-margin">
      {%- for block in section.blocks -%}
      <div class="col-sp-12 col-st-6 col-md-6 {{ section.settings.grid }}" {{ block.shopify_attributes }}>
        
        
        {%- liquid
          assign check_link = false
          if block.settings.call_to_action == "one_link_banner"
          assign check_link = true
          endif

          if check_link
          assign html_tag_open = '<a' | append: ' href="' | append: block.settings.url | append:'"'
          assign html_tag_close = '</a>'
          else
          assign html_tag_open = '<div'
          assign html_tag_close = '</div>'
          endif
        -%}
        
        {%- liquid
          capture image_hover_scaling_up
          if settings.enable_zoom_animation and check_link
          echo 'image-hover-scaling-up'
          endif
          endcapture
        -%}
        
        {{ html_tag_open }} id="image-banner-block-{{ block.id }}" class="clear-underline image-banner hover-area {{ image_hover_scaling_up }}">
          {%- if block.settings.image == blank -%}
          <div class="image-hover-scaling__image placeholder__svg--bg border__radius"{% if section.settings.image_ratio != 'auto' %} style="--aspect-ratio: {{section.settings.image_ratio}};"{% endif %}>
            {%- render "icons-placeholder-other", icon_name:'lifestyle' -%}
          </div>
          {%- else -%}

          {%- capture image_ratio -%}
          {%- if section.settings.image_ratio == 'auto' -%}
          {{ block.settings.image.aspect_ratio }}
          {%- else -%}
          {{ section.settings.image_ratio }}
          {%- endif -%}
          {%- endcapture -%}

          <div class="image-hover-scaling__image border__radius" style="--aspect-ratio: {{image_ratio}};">
            {%- liquid
                if section.settings.width == "page-wide"
                assign page_is_wide = true
                else
                assign page_is_wide = false
                endif
            -%}
            {%- assign image = block.settings.image -%}
            {%- capture sizes -%}
            (min-width: 1440px) {% if page_is_wide %}calc((100vw - {{ settings.spacing_grid_horizontal }}px) / 2){% else %}calc(({{ settings.page_width }}px - 20px) / 2){% endif %},(min-width: 993px) calc((100vw - 140px) / 2),(min-width: 577px) calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2),calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2)
            {%- endcapture -%}
            {%- capture image_class -%}{% if settings.animate_image_show %}image-show--fadein{% endif %}{%- endcapture -%}            
            {%- capture animate_image_show -%}{% if settings.animate_image_show %}this.classList.add('image-loaded');{% endif %}{%- endcapture -%}
            {{
              image
              | image_url: width: image.width
              | image_tag:
                loading: 'lazy',
                width: image.width,
                height: image.height,
                class: image_class,
                sizes: sizes,
                widths: '400, 470, 620, 1240',
                onload: animate_image_show
            }}
          </div>

          {%- endif -%}

          {%- liquid
          	  if block.settings.button_primary_name != blank and block.settings.url != blank and block.settings.call_to_action == "buttons"
              assign heading_link_url = block.settings.url
              elsif block.settings.button_secondary_name != blank and block.settings.button_secondary_url != blank and block.settings.call_to_action == "buttons"
              assign heading_link_url = block.settings.button_secondary_url
              else
              assign heading_link_url = ""
              endif
          -%}
        
          <div class="image-banner__content {{ block.settings.content_aligment }}{% if block.settings.show_background %} image-banner__content--bg{% endif %}">
            <div class="mt--first-child-0 {{ block.settings.texts_aligment }} {{ block.settings.texts_aligment_mobile }}">
              {%- if block.settings.subheading != blank -%}<div class="h5 image-banner__subheading">{{ block.settings.subheading }}</div>{%- endif -%}
              {%- if block.settings.heading != blank -%}
              {{ '<' | append: block.settings.heading_tag }} class="image-banner__heading mt20 mb0{% if block.settings.hover_underline %} animation-underline{% endif %}">
              {%- if heading_link_url != "" -%}<a href="{{ heading_link_url }}" class="clear-underline">{%- endif -%}
              {{ block.settings.heading }}
              {%- if heading_link_url != "" -%}</a>{%- endif -%}
              {{ '</' | append: block.settings.heading_tag }}>
              {%- endif -%}
              {%- if block.settings.description != blank -%}
              <p class="mt15 image-banner__description{% if block.settings.description_size != "normal" %} {{ block.settings.description_size }}{% endif %}">
                {{ block.settings.description }}
              </p>
              {%- endif -%}
			  {%- if block.settings.call_to_action == "buttons" -%}
              {%- if block.settings.button_primary_name != blank or block.settings.button_secondary_name != blank -%}
              <div class="image-banner__buttons mt20">
                {%- if block.settings.button_primary_name != blank -%}
                <a href="{{ block.settings.url }}"
                   class="btn btn_zoom"
                   {% if block.settings.url == blank %} aria-disabled="true"{% endif %}
                   ><span>{{ block.settings.button_primary_name }}</span></a>
                {%- endif -%}
                {%- if block.settings.button_secondary_name != blank -%}
                <a href="{{ block.settings.button_secondary_url }}"
                   class="btn btn_zoom btn--secondary"
                   {% if block.settings.button_secondary_url == blank %} aria-disabled="true"{% endif %}
                   ><span>{{ block.settings.button_secondary_name }}</span></a>
                {%- endif -%}                
              </div>
              {%- endif -%}
              {%- else -%}
              {%- if block.settings.button_primary_name != blank and check_link -%}
              <div class="image-banner__buttons mt20">
                <div class="btn btn_zoom"{% if block.settings.url == blank %} aria-disabled="true"{% endif %}><span>{{ block.settings.button_primary_name }}</span></div>
              </div>
              {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        {{ html_tag_close }}

      </div>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.banners.name",
  	"tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
	  {
		"type": "text",
		"id": "subheading",
		"default": "SUBHEADING",
		"label": "t:sections.general.settings.subheading.label"
	  },
	  {
		"type": "text",
		"id": "heading",
		"default": "Banners",
		"label": "t:sections.general.settings.heading.label"
	  },
	  {
		"type": "select",
		"id": "heading_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center",
		"label": "t:sections.general.settings.heading_aligment.label"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "page-width",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "select",
        "id": "grid",
        "options": [
          {
            "value": "col-6",
            "label": "t:sections.general.settings.grid.options__2.label"
          },
          {
            "value": "col-4",
            "label": "t:sections.general.settings.grid.options__3.label"
          }
        ],
        "default": "col-4",
		"label": "t:sections.general.settings.grid.label"
      },
      {
        "type": "header",
        "content": "t:sections.banners.settings.header_name.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "auto",
			"label": "t:sections.general.settings.image_ratio.options__auto.label"
          },
          {
            "value": "0.75",
			"label": "t:sections.general.settings.image_ratio.options__portrait.label"
          },
          {
            "value": "1.333333",
			"label": "t:sections.general.settings.image_ratio.options__landscape.label"
          },
          {
            "value": "1",
			"label": "t:sections.general.settings.image_ratio.options__square.label"
          }
        ],
        "default": "auto",
		"label": "t:sections.general.settings.image_ratio.label"
      },
      {
        "type": "header",
		"content": "t:sections.general.settings.header_colors.content"
      },
      {
        "type": "color",
        "id": "color_subheading",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.subheading.label"
      },
      {
        "type": "color",
        "id": "color_heading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.heading.label"
      }
	],
    "blocks": [
      {
        "type": "banner",
        "name": "t:sections.banners.blocks.banner.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
			"label": "t:sections.general.settings.image.label"
          },
          {
            "type": "range",
            "id": "image_overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "t:sections.banners.blocks.banner.settings.image_overlay_opacity.label",
            "default": 0
          },
          {
            "type": "header",
			"content": "t:sections.banners.blocks.banner.settings.header_texts.content"
		  },
          {
            "type": "text",
            "id": "subheading",
            "default": "SUBHEADING",
			"label": "t:sections.general.settings.subheading.label"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Banner",
            "label": "t:sections.general.settings.heading.label"
          },
          {
            "type": "textarea",
            "id": "description",
            "default": "Tell more about your product, collection...",
			"label": "t:sections.general.settings.description.label"
          },
          {
            "type": "header",
			"content": "t:sections.banners.blocks.banner.settings.header_buttons.content"
		  },
          {
            "type": "select",
            "id": "call_to_action",
            "options": [
              {
                "value": "one_link_banner",
				"label": "t:sections.banners.blocks.banner.settings.call_to_action.option_1.label"
              },
              {
                "value": "buttons",
				"label": "t:sections.banners.blocks.banner.settings.call_to_action.option_2.label"
              },
              {
                "value": "none",
				"label": "t:sections.banners.blocks.banner.settings.call_to_action.option_3.label"
              }
            ],
            "default": "one_link_banner",
			"label": "t:sections.banners.blocks.banner.settings.call_to_action.label",
			"info": "t:sections.banners.blocks.banner.settings.call_to_action.info"
          },
          {
            "type": "paragraph",
            "content": "t:sections.banners.blocks.banner.settings.paragraph_1.content"
          },
          {
            "type": "paragraph",
            "content": "t:sections.banners.blocks.banner.settings.paragraph_2.content"
          },
          {
            "type": "text",
            "id": "button_primary_name",
            "default": "Button",
			"label": "t:sections.banners.blocks.banner.settings.button_primary_name.label"
          },
          {
            "type": "url",
            "id": "url",
			"label": "t:sections.banners.blocks.banner.settings.url.label",
			"info": "t:sections.banners.blocks.banner.settings.url.info"
          },
          {
            "type": "text",
            "id": "button_secondary_name",
            "default": "Button",
			"label": "t:sections.banners.blocks.banner.settings.button_secondary_name.label"
          },
          {
            "type": "url",
            "id": "button_secondary_url",
			"label": "t:sections.banners.blocks.banner.settings.button_secondary_url.label",
			"info": "t:sections.banners.blocks.banner.settings.button_secondary_url.info"
          },
          {
            "type": "header",
			"content": "t:sections.banners.blocks.banner.settings.header_texts_settings.content"
		  },
          {
            "type": "select",
            "id": "texts_aligment",
            "options": [
              {
                "value": "text-left",
                "label": "t:sections.general.settings.texts_aligment.options__left.label"
              },
              {
                "value": "text-center",
                "label": "t:sections.general.settings.texts_aligment.options__center.label"
              }
            ],
            "default": "text-center",
            "label": "t:sections.banners.settings.texts_aligment.label"
          },
          {
            "type": "select",
            "id": "texts_aligment_mobile",
            "options": [
              {
                "value": "text-left-mobile",
                "label": "t:sections.general.settings.texts_aligment.options__left.label"
              },
              {
                "value": "text-center-mobile",
                "label": "t:sections.general.settings.texts_aligment.options__center.label"
              }
            ],
            "default": "text-center-mobile",
            "label": "t:sections.banners.settings.texts_aligment_mobile.label"
          },
          {
            "type": "select",
            "id": "heading_tag",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.general.settings.heading_tag.options__normal.label"
              },
              {
                "value": "h3",
                "label": "t:sections.general.settings.heading_tag.options__small.label"
              }
            ],
            "default": "h2",
			"label": "t:sections.general.settings.heading_tag.label"
          },
          {
            "type": "select",
            "id": "description_size",
            "options": [
              {
                "value": "normal",
                "label": "t:sections.general.settings.description_size.options__normal.label"
              },
              {
                "value": "body2",
                "label": "t:sections.general.settings.description_size.options__small.label"
              }
            ],
            "default": "normal",
            "label": "t:sections.general.settings.description_size.label"
          },
          {
            "type": "select",
            "id": "content_aligment",
            "options": [
              {
                "value": "align-items-start",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__top_left.label"
              },
              {
                "value": "align-items-start justify-content-center",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__top_center.label"
              },
              {
                "value": "align-items-center",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__center_left.label"
              },
              {
                "value": "align-items-center justify-content-center",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__center.label"
              },
              {
                "value": "align-items-end",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__bottom_left.label"
              },
              {
                "value": "align-items-end justify-content-center",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__bottom_center.label"
              }
            ],
            "default": "align-items-center justify-content-center",
			"label": "t:sections.banners.blocks.banner.settings.content_aligment.label"
          },
          {
            "type": "checkbox",
            "id": "show_background",
            "default": false,
			"label": "t:sections.banners.blocks.banner.settings.show_background.label"
          },
          {
            "type": "checkbox",
            "id": "hover_underline",
            "default": false,
			"label": "t:sections.general.settings.hover_underline.label"
          },
          {
            "type": "header",
			"content": "t:sections.general.settings.header_colors.content"
		  },
          {
            "type": "color",
            "id": "color_subheading",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.general.settings.subheading.label"
          },
          {
            "type": "color",
            "id": "color_heading",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.general.settings.heading.label"
          },
          {
            "type": "color",
            "id": "color_description",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.general.settings.description.label"
          },
          {
            "type": "color",
            "id": "button_primary_bg",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.banners.blocks.banner.settings.button_primary_bg.label"
          },
          {
            "type": "color",
            "id": "button_secondary_bg",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.banners.blocks.banner.settings.button_secondary_bg.label"
          },
          {
            "type": "color",
            "id": "color_background",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.banners.blocks.banner.settings.color_background.label"
          }
        ]
      }
    ],
    "presets": [
      {
      	"name": "t:sections.banners.presets.name",
        "blocks": [
          {
            "type": "banner"
          },
          {
            "type": "banner"
          },
          {
            "type": "banner"
          }
        ]
      }
    ]
  }
{% endschema %}