{%- if settings.animate_content_show -%}
<link rel="stylesheet" href="{{ 'section-image-with-text-type2.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-image-with-text-type2.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}</noscript>
{%- else -%}
{{ 'section-image-with-text-type2.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- capture section_styles -%}
{%- if section.settings.content_size == "fixed" -%}
  @media (min-width:993px){
    #image-with-text2-{{ section.id }} .grid-container-it2{
      height: {{section.settings.desktop_content_height}}px;
    }
  }
{%- endif -%}
{%- if section.settings.color_subheading != "rgba(0,0,0,0)" -%}
#image-with-text2-{{ section.id }} .subheading{
  color:{{ section.settings.color_subheading }};
}
{%- endif -%}
{%- if section.settings.color_heading != "rgba(0,0,0,0)" -%}
#image-with-text2-{{ section.id }} .heading{
  --color-base:{{ section.settings.color_heading }};
}
{%- endif -%}
{%- if section.settings.color_text != "rgba(0,0,0,0)" -%}
#image-with-text2-{{ section.id }} .image-with-text2__texts{
  color:{{ section.settings.color_text }};
}
{%- endif -%}
{%- if section.settings.play_background != "rgba(0,0,0,0)" -%}
{%- assign accent_brightness = section.settings.play_background | color_extract: 'lightness' -%}
#image-with-text2-{{ section.id }} .deferred-media__poster-button{
  --background: {{ section.settings.play_background }};
  {%- if accent_brightness < 50 -%}
  --color-base: var(--auto-text-color-button-light);
  {%- else -%}
  --color-base: var(--auto-text-color-button-dark);
  {%- endif -%}
}
{%- endif -%}
{%- if section.settings.color_background != "rgba(0,0,0,0)" -%}
#image-with-text2-{{ section.id }}.image-with-text2{
  --color-background:{{ section.settings.color_background }};
}
{%- if settings.color_background == section.settings.color_background -%}
{%- if section.settings.width != "page-fullwidth" -%}
#image-with-text2-{{ section.id }} .grid-container-it2 .image-with-text2__image{
  border-radius: var(--radius);
}
{%- endif -%}
@media (max-width: 576px){
  #image-with-text2-{{ section.id }} [class*="page-"]:not([class*="fullwidth"]) .image-with-text2__container{
	padding-right: 0;
	padding-left: 0;
  }
  #image-with-text2-{{ section.id }} .image-with-text2__container{
    padding-bottom: 0;
  }
}
{%- endif -%}
{%- endif -%}
{%- if section.settings.color_button != "rgba(0,0,0,0)" -%}
{%- assign accent_brightness = section.settings.color_button | color_extract: 'lightness' -%}
#image-with-text2-{{ section.id }} .btn{
  --background: {{ section.settings.color_button }};
  {%- if accent_brightness < 50 -%}
  --color: var(--auto-text-color-button-light);
  {%- else -%}
  --color: var(--auto-text-color-button-dark);
  {%- endif -%}
}
{%- endif -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>{{ section_styles }}</style>
{%- endif -%}

<div id="image-with-text2-{{ section.id }}" class="image-with-text2 top-spacing-{{ section.settings.top_spacing }}"
     data-section-name="image-with-text-type2">
  <div class="{{ section.settings.width }} hover-area">

    {%- liquid
      if section.settings.content_size == 'fullscreen'
        assign section_html_tag_open = '<fullscreen-object'
        assign section_html_tag_close = '</fullscreen-object>'
        if section.settings.width != "page-fullwidth"
        assign section_html_tag_open = section_html_tag_open | append: ' data-bottom-padding="70" '
        endif
      else
        assign section_html_tag_open = '<div'
        assign section_html_tag_close = '</div>'
      endif
    -%}    
	{{section_html_tag_open}} class="grid-container-it2{% if section.settings.row_reverse %} image-with-text2--reverse{% endif %}">
      <div class="image-with-text2__image">
        {%- for block in section.blocks -%}
        {%- if block.type == 'image' -%}
        {%- capture image -%}
        {%- if section.settings.url != blank and block.settings.content_type == 'image' -%}
        {%- assign html_tag_open = '<a' | append: ' href="' | append: section.settings.url | append:'"' -%}
        {%- assign html_tag_close = '</a>' -%}
        {%- else -%}
        {%- assign html_tag_open = '<div' -%}
        {%- assign html_tag_close = '</div>' -%}
        {%- endif -%}
        <div class="image-with-text2__image-container{% if settings.enable_zoom_animation and section.settings.url != blank and block.settings.content_type == 'image' %} image-hover-scaling-up{% endif %}" {{ block.shopify_attributes }}>
          {{ html_tag_open }} class="image-hover-scaling__image">
            {%- if block.settings.image == blank -%}
            <div class="placeholder__svg--bg" style="--aspect-ratio: 1.33333;">
              {%- render "icons-placeholder-other", icon_name:'image-1' -%}
            </div>
            {%- else -%}

            {%- liquid
            assign image_ratio = block.settings.image.aspect_ratio
            if block.settings.image_mobile != blank
            assign image_ratio_mobile = '--aspect-ratio-mobile:' | append: block.settings.image_mobile.aspect_ratio | append: ';'
            endif
            -%}
            <div style="--aspect-ratio: {{image_ratio}};{{image_ratio_mobile}}">
              {% assign imagesize = block.settings.image.width | append: 'x' %}
              {%- if block.settings.image_mobile == blank -%}
              {%- liquid
                  if section.settings.width == "page-width"
				  assign page_is_wide = false
                  else
                  assign page_is_wide = true
                  endif
              -%}
              {%- assign image = block.settings.image -%}
              {%- capture sizes -%}
              (min-width: 1440px) {% if page_is_wide %}calc(100vw / 2){% else %}calc(({{ settings.page_width }}px - 20px) / 2){% endif %},(min-width: 993px) calc((100vw - 140px) / 2),(min-width: 577px) calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2),calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2)
              {%- endcapture -%}
              {%- capture image_class -%}{% if settings.animate_image_show %}image-show--fadein{% endif %}{%- endcapture -%}            
              {%- capture animate_image_show -%}{% if settings.animate_image_show %}this.classList.add('image-loaded');{% endif %}{%- endcapture -%}
              {{
                image
                | image_url: width: image.width
                | image_tag:
                  loading: 'lazy',
                  width: image.width,
                  height: image.height,
                  sizes: sizes,
                  widths: '400, 580, 1240',
                  class: image_class,
                  onload: animate_image_show
              }}
              {%- else -%}
              {% assign imagesize_mobile = block.settings.image_mobile.width | append: 'x' %}
              <picture>
                <source srcset="{{ block.settings.image_mobile | img_url: imagesize_mobile }} 1x, {{ block.settings.image_mobile | img_url: imagesize_mobile, scale: 2 }} 2x" media="(max-width: 992px)">
                <source srcset="{{ block.settings.image | img_url: imagesize }} 1x, {{ block.settings.image | img_url: imagesize, scale: 2 }} 2x" media="(min-width: 993px)">
                {%- assign image = block.settings.image -%}
                {{
                  image
                  | image_url: width: image.width
                  | image_tag:
                    loading: 'lazy',
                    width: image.width,
                    height: image.height
                }}                
              </picture>
              {%- endif -%}
            </div>

            {%- endif -%}
          {{ html_tag_close }}
        </div>
        {%- endcapture -%}
        {%- if block.settings.content_type == 'video' -%}
        
        <noscript>
          <div class="deferred-media">
            <a href="{{ block.settings.video_url }}" class="deferred-media__poster" target="_blank">
              {{ image }}
              <span class="deferred-media__poster-button btn_zoom">
                {%- render 'icon-play' -%}
              </span>
            </a>
          </div>
        </noscript>
        <deferred-media class="deferred-media no-js-hidden"
                        data-media-id="{{ block.settings.video_url.id }}"
                        >
          <button id="Deferred-Poster-Modal-{{ block.settings.video_url.id }}"
                  class="deferred-media__poster{% if settings.enable_zoom_animation %} image-hover-scaling-up{% endif %}"
                  type="button"
                  aria-label="{{ 'general.aria_label.play' | t }}"
                  >
            {{ image }}
            <span class="deferred-media__poster-button btn_zoom">
              {%- render 'icon-play' -%}
            </span>
          </button>
          <template>
            {%- if block.settings.video_url.type == 'youtube' -%}
            <iframe src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&autoplay=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
            {%- else -%}
            <iframe src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=1" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ block.settings.description | escape }}"></iframe>
            {%- endif -%}
          </template>
        </deferred-media>
        
        {%- else -%}
        {{ image }}
        {%- endif -%}
        
        {%- break -%}
        {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="image-with-text2__container {{ section.settings.texts_aligment }}">
        <div class="mt--first-child-0 {{ section.settings.content_aligment }}">
          {%- for block in section.blocks -%}
          {%- if block.type == 'heading' -%}
          <div class="mb--last-child-0" {{ block.shopify_attributes }}>
            {%- if block.settings.subheading != blank -%}<p class="subheading h5 mb20">{{ block.settings.subheading }}</p>{%- endif -%}
            {%- if block.settings.heading != blank -%}
            {{ '<' | append: section.settings.heading_tag }} class="heading mt0 mb0{% if section.settings.hover_underline and section.settings.url != blank %} animation-underline{% endif %}">
            {%- if section.settings.url != blank -%}<a href="{{ section.settings.url }}" class="clear-underline">{%- endif -%}
            {{ block.settings.heading }}
            {%- if section.settings.url != blank -%}</a>{%- endif -%}
            {{ '</' | append: section.settings.heading_tag }}>
            {%- endif -%}
          </div>
          {%- break -%}
          {%- endif -%}
          {%- endfor -%}

          {%- for block in section.blocks -%}
          {%- if block.type == 'text' -%}
          {%- if block.settings.text != blank -%}
          <div class="image-with-text2__texts mt15 mt--first-child-0{% if section.settings.text_size != "normal" %} {{ section.settings.text_size }}{% endif %}" {{ block.shopify_attributes }}>
            {{ block.settings.text }}
          </div>
          {%- endif -%}
          {%- endif -%}
          {%- endfor -%}

          {%- for block in section.blocks -%}
          {%- if block.type == 'button' -%}
          {%- if block.settings.button_name != blank -%}
          <div class="mt30 image-with-text2__btn-container" {{ block.shopify_attributes }}>
            <a{% if section.settings.url != blank %} href="{{ section.settings.url }}"{% endif %}
               class="btn btn_zoom btn--secondary w-full-sp"
               {% if section.settings.url == blank %} aria-disabled="true"{% endif %}>
              <span>{{ block.settings.button_name }}</span>
            </a>
          </div>
          {%- break -%}
          {%- endif -%}
          {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    {{section_html_tag_close}}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.image-with-text-type2.name",
  	"tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "t:sections.general.settings.name_link.label",
		"info": "t:sections.image-with--general.settings.url.info"
      },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          },
          {
            "value": "page-fullwidth",
            "label": "t:sections.general.settings.width.options__fullwidth.label"
          }
        ],
        "default": "page-width",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "select",
        "id": "content_size",
        "options": [
          {
            "value": "auto",
			"label": "t:sections.image-with-text-type2.settings.content_size.options__auto.label"
          },
          {
            "value": "fixed",
			"label": "t:sections.image-with-text-type2.settings.content_size.options__fixed.label"
          },
          {
            "value": "fullscreen",
			"label": "t:sections.image-with-text-type2.settings.content_size.options__fullscreen.label"
          }
        ],
        "default": "fullscreen",
		"label": "t:sections.image-with-text-type2.settings.content_size.label"
      },
	  {
		"type": "range",
		"id": "desktop_content_height",
		"min": 200,
		"max": 1000,
		"step": 10,
		"unit": "px",
		"label": "t:sections.image-with-text-type2.settings.desktop_content_height.label",
		"default": 440
	  },
      {
        "type": "header",
        "content": "t:sections.image-with--general.settings.header_name.content"
      },
      {
        "type": "checkbox",
        "id": "row_reverse",
        "default": false,
        "label": "t:sections.general.settings.row_reverse.label"
      },
	  {
		"type": "select",
		"id": "content_aligment",
		"options": [
		  {
			"value": "align-self-start",
			"label": "t:sections.image-with--general.settings.content_aligment.options__top.label"
		  },
		  {
			"value": "align-self-center",
			"label": "t:sections.image-with--general.settings.content_aligment.options__center.label"
		  },
		  {
			"value": "align-self-end",
			"label": "t:sections.image-with--general.settings.content_aligment.options__bottom.label"
		  }
		],
		"default": "align-self-center",
		"label": "t:sections.image-with--general.settings.content_aligment.label"
	  },
	  {
		"type": "select",
		"id": "texts_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-left",
		"label": "t:sections.general.settings.texts_aligment.label"
	  },
	  {
		"type": "select",
		"id": "heading_tag",
		"options": [
		  {
			"value": "h1",
			"label": "t:sections.general.settings.heading_tag.options__h1.label"
		  },
		  {
			"value": "h2",
			"label": "t:sections.general.settings.heading_tag.options__small.label"
		  }
		],
		"default": "h2",
		"label": "t:sections.general.settings.heading_tag.label"
	  },
	  {
		"type": "select",
		"id": "text_size",
		"options": [
		  {
			"value": "normal",
			"label": "t:sections.general.settings.description_size.options__normal.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.description_size.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.general.settings.description_size.label"
	  },
      {
        "type": "checkbox",
        "id": "hover_underline",
        "default": false,
        "label": "t:sections.general.settings.hover_underline.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_colors.content"
      },
      {
        "type": "color",
        "id": "color_subheading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.subheading.label"
      },
      {
        "type": "color",
        "id": "color_heading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.heading.label"
      },
	  {
		"type": "color",
		"id": "color_text",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.description.label"
	  },
      {
        "type": "color",
        "id": "color_button",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.image-with--general.settings.color_button.label"
      },
      {
        "type": "color",
        "id": "play_background",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.image-with--general.settings.play_background.label"
      },
	  {
		"type": "color",
		"id": "color_background",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.background.label"
	  }
	],
    "blocks": [
      {
        "type": "image",
		"limit": 1,
        "name": "t:sections.image-with--general.blocks.image.name",
        "settings": [
          {
            "type": "select",
            "id": "content_type",
            "options": [
              {
                "value": "image",
				"label": "t:sections.image-with--general.blocks.image.settings.content_type.options__image.label"
              },
              {
                "value": "video",
				"label": "t:sections.image-with--general.blocks.image.settings.content_type.options__video.label"
              }
            ],
            "default": "image",
			"label": "t:sections.image-with--general.blocks.image.settings.content_type.label"
          },
          {
            "type": "image_picker",
            "id": "image",
			"label": "t:sections.image-with--general.blocks.image.settings.image.label",
			"info": "t:sections.image-with--general.blocks.image.settings.image.info"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
			"label": "t:sections.image-with-text-type2.blocks.image.settings.image_mobile.label",
			"info": "t:sections.image-with--general.blocks.image.settings.image.info"
          },
          {
            "type": "header",
			"content": "t:sections.image-with--general.blocks.image.settings.header_video.content"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "accept": [
              "youtube",
              "vimeo"
            ],
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
			"label": "t:sections.image-with--general.blocks.image.settings.video_url.label",
			"placeholder": "t:sections.image-with--general.blocks.image.settings.video_url.placeholder",
			"info": "t:sections.image-with--general.blocks.image.settings.video_url.info"
          },
          {
            "type": "text",
            "id": "description",
			"label": "t:sections.image-with--general.blocks.image.settings.description.label",
			"info": "t:sections.image-with--general.blocks.image.settings.description.info"
          }
        ]
      },
      {
        "type": "heading",
		"limit": 1,
        "name": "t:sections.image-with--general.blocks.heading.name",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "default": "SUBHEADING",
            "label": "t:sections.general.settings.subheading.label"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Full height media with text",
            "label": "t:sections.general.settings.heading.label"
          }
        ]
      },
      {
        "type": "text",
		"limit": 1,
        "name": "t:sections.image-with--general.blocks.text.name",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>This section allows you to set a text box background.</p>",
            "label": "t:sections.general.settings.description.label"
          }
        ]
      },
      {
        "type": "button",
		"limit": 1,
        "name": "t:sections.image-with--general.blocks.button.name",
        "settings": [
          {
            "type": "text",
            "id": "button_name",
            "default": "Button",
            "label": "t:sections.image-with--general.blocks.button.settings.button_name.label"
          }
        ]
      }
    ],
    "presets": [
      {
      	"name": "t:sections.image-with-text-type2.presets.name",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}