{%- capture section_styles -%}
{%- if section.settings.background != 'hide' -%}
{%- liquid
	capture color
	if section.settings.background == 'color'
    echo section.settings.color_background
    else
    echo section.settings.gradient
    endif
    endcapture
-%}
{%- if color != "rgba(0,0,0,0)" and color != blank -%}
footer{
  --color-section-background: {{ color }};
}
{%- endif -%}
{%- endif -%}
{%- if section.settings.color_text != "rgba(0,0,0,0)" -%}
.footer__content-line{
  --color-lines-borders: {{ section.settings.color_text }};
  opacity: .3;
}
footer{
  color: {{ section.settings.color_text }};
}
.footer a{
  --color-text-link: {{ section.settings.color_links }};
}
.footer-social__icons svg path{
  fill: {{ section.settings.color_text }};
}
{%- endif -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>{{ section_styles }}</style>
{%- endif -%}

<footer class="footer top-spacing-{{ section.settings.top_spacing }}{% if section.settings.background != 'hide' %} section-background{% endif %}"
        data-role="{{ theme.role }}">
  <div class="{{ section.settings.width }}">
    {%- if section.settings.show_top_line -%}
    <div class="grid">
      <div class="col-12"><div class="footer__content-line"></div></div>
    </div>
    {%- endif -%}
    <div class="grid footer-blocks__container body3">
      {%- assign left_side_text = 'general.password_page.admin_link_html' | t -%}
      {%- assign right_side_text = 'general.password_page.powered_by_shopify_html' | t -%}
      <div class="col-sp-12 col-6 footer__content--left">
        {%- if left_side_text == blank and right_side_text != blank -%}
        <p class="mt0">{{ right_side_text }}</p>
        {%- elsif left_side_text != blank -%}
        <p class="mt0">{{ left_side_text }}</p>
        {%- endif -%}

      </div>
      <div class="col-sp-12 col-6 footer__content--right">
        {%- if left_side_text != blank and right_side_text != blank -%}
        <p class="mt0 password__footer-caption">{{ right_side_text }}</p>
        {%- endif -%}
        {%- if section.settings.show_social -%}
        <div class="footer-social">
          {%- if block.settings.heading_social != blank -%}
          {{ '<' | append: section.settings.heading_tag }} class="footer-social__heading footer__heading mt0 mb0">
          {{- block.settings.heading_social | escape -}}
          {{ '</' | append: section.settings.heading_tag }}>
          {%- endif -%}

          {%- capture social_media -%}
          {%- for i in (1..10) -%}
          {%- assign value = 'social_media_' | append: i -%}
          {%- assign value = settings[value] -%}
          {%- if value != blank -%}
          {%- assign icon_name = value | split: '//' | last | replace: 'www.', '' | split: '.' -%}
          {%- if icon_name.size > 2 -%}
          {%- assign icon_name = icon_name[1] -%}
          {%- else -%}
          {%- assign icon_name = icon_name | first -%}
          {%- endif -%}
          <li><a href="{{ value }}">
            {%- render "icons-list-social" icon_name:icon_name -%}
            <span class="visually-hidden">{{ icon_name }}</span>
            </a></li>
          {%- endif -%}
          {%- endfor -%}
          {%- endcapture -%}
          {%- if social_media != blank -%}
          <div class="footer-social__container">
            <ul class="unstyle-ul footer-social__icons">
              {{ social_media }}
            </ul>
          </div>
          {%- endif -%}
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.main-password-footer.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "page-width",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "checkbox",
        "id": "show_top_line",
        "default": true,
		"label": "t:sections.footer.settings.show_top_line.label"        
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "default": true,
        "label": "t:sections.footer.blocks.newsletter.settings.show_social.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_colors.content"
      },
      {
        "type": "color",
        "id": "color_text",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.description.label"
      },
      {
        "type": "color",
        "id": "color_links",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.links.label"
      },
      {
        "type": "header",
		"content": "t:sections.general.settings.header_background.content"
      },
	  {
		"type": "select",
		"id": "background",
		"options": [
		  {
			"value": "hide",
			"label": "t:sections.general.settings.background.options__hide.label"
		  },
		  {
			"value": "color",
			"label": "t:sections.general.settings.background.options__color.label"
		  },
		  {
			"value": "gradient",
			"label": "t:sections.general.settings.background.options__gradient.label"
		  }
		],
		"default": "hide",
		"label": "t:sections.general.settings.background.label"
	  },
	  {
		"type": "color",
		"id": "color_background",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.color_background.label"
	  },
      {
		"type": "color_background",
        "id": "gradient",
		"label": "t:sections.general.settings.gradient.label"
      }
	]
  }
{% endschema %}