{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{%- assign last_characters = 'general.abbreviation_of_text_in_a_section.last_characters' | t -%}
<div class="top-spacing-{{ section.settings.top_spacing }}">
  <div class="{{ section.settings.width }} mb--last-child-0">

    <div class="grid{% if section.settings.heading_aligment == "text-center" %} justify-content-center{% endif %} heading--mb">      
      <div class="col-st-12 col-6 mb--last-child-0 {{ section.settings.heading_aligment }}">
        <h1 class="mt0 mb0">
          {%- unless current_tags -%}
          {{ blog.title | escape }}
          {%- else -%}
          {{ blog.title | escape }}&nbsp;{{ 'blogs.blog.heading_result' | t }}&nbsp;{{ current_tags.first | replace: '-', ' ' }}
          {%- endunless -%}
        </h1>
      </div>
    </div>
    
    {%- paginate blog.articles by section.settings.post_limit -%}
    <div class="position-relative">
      <div class="grid el_mt_40 {{ section.settings.texts_aligment }}">
        {%- for article in blog.articles -%}
        <div class="col-sp-12 {{ section.settings.grid }}">
          <div class="blog-posts mt--first-child-0 mb--last-child-0 hover-area{% if settings.enable_zoom_animation %} image-hover-scaling-up{% endif %}">

            {%- if section.settings.show_image and article.image != blank -%}
            <a href="{{ article.url }}" class="mb25 image-hover-scaling__image">
              {%- capture image_ratio -%}
              {%- if section.settings.image_ratio == 'auto' -%}
              {{ article.image.aspect_ratio }}
              {%- elsif section.settings.image_ratio == '1, round-image' -%}
              {{ section.settings.image_ratio | split: ',' | first }}
              {%- else -%}
              {{ section.settings.image_ratio }}
              {%- endif -%}
              {%- endcapture -%}

              <div class="border__radius{% if section.settings.image_ratio == '1, round-image' %} border__radius--circle{% endif %}" style="--aspect-ratio: {{image_ratio}};">
                {%- liquid
                    if section.settings.width == "page-width"
                    assign page_is_wide = false
                    else
                    assign page_is_wide = true
                    endif
                  -%}
                {%- assign image = article.image -%}
                <img srcset="{%- if image.width >= 400 -%}{{ image | image_url: width: 400 }} 400w,{%- endif -%}
                             {%- if image.width >= 540 -%}{{ image | image_url: width: 540 }} 540w,{%- endif -%}
                             {%- if image.width >= 1240 -%}{{ image | image_url: width: 1240 }} 1240w,{%- endif -%}
                             {{ image | image_url }} {{ image.width }}w"
                     src="{{ image | image_url: width: 400 }}"
                     sizes="(min-width: 1440px) {% if page_is_wide %}calc((100vw - {{ settings.spacing_grid_horizontal }}px) / 2){% else %}calc(({{ settings.page_width }}px - 20px) / 2){% endif %},(min-width: 993px) calc((100vw - 140px) / 2),(min-width: 577px) calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2),calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2)"
                     width="{{ image.width }}"
                     height="{{ image.height }}"
                     loading="lazy"
                     alt="{{ image.alt | escape }}"
                     {% render "additional-image-attributes" %}
                     >
              </div>
            </a>
            {%- endif -%}

            {%- liquid
            if section.settings.showtags and article.tags.size > 0
            assign tags = true
            else
            assign tags = false
            endif
            -%}
            {%- if tags or section.settings.show_date or section.settings.show_author -%}
            <ul class="unstyle-ul blog-posts__meta body3">
              {%- if section.settings.showtags and article.tags.size > 0 -%}
              <li>
                <strong>
                {% for tag in article.tags %}
                {%- assign tag_html = "<span>" | append: tag | append: "</span>" -%}
                {{ tag_html | link_to_tag: tag | replace: '<a', '<a class="color-base animation-underline animation-underline--thin hover-area--native"' }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
                </strong>
              </li>
              {%- endif -%}
              {%- if section.settings.show_date -%}
              <li>{{- article.published_at | time_tag: format: "month_day_year" -}}</li>
              {%- endif -%}
              {%- if section.settings.show_author -%}
              <li>{{ article.author -}}</li>
              {%- endif -%}
            </ul>
            {%- endif -%}

            {{ '<' | append: section.settings.heading_tag }} class="blog-posts__heading mt15 mb0">
            <a href="{{ article.url }}" class="clear-underline{% if section.settings.hover_underline %} animation-underline{% endif %}">
              {%- if section.settings.truncate_post_heading -%}
              {{ article.title | escape | truncate: 63,last_characters }}
              {%- else -%}
              {{ article.title | escape }}
              {%- endif -%}
            </a>
            {{ '</' | append: section.settings.heading_tag }}>

            {%- if article.excerpt.size > 0 and section.settings.excerpt != 'hide' -%}
            <div class="mt10 blog-posts__excerpt mt--first-child-0{% if section.settings.excerpt_size != "normal" %} {{ section.settings.excerpt_size }}{% endif %}">
              {%- if section.settings.excerpt == 'show_truncated' -%}
              {{ article.excerpt | strip_html | truncatewords: 20,last_characters }}
              {%- else -%}
              {{ article.excerpt }}
              {%- endif -%}
            </div>
            {%- endif -%}
            {%- if blog.comments_enabled? and section.settings.show_comment_count -%}
            <div class="mt15 body3">
              {{ 'blogs.article.comments' | t: count: article.comments_count }}
            </div>
            {%- endif -%}

          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate, aligment: section.settings.heading_aligment -%}
    {%- endif -%}

    {%- endpaginate -%}

  </div>
</div>

{% schema %}
  {
    "name": "t:sections.blog-posts.name",
  	"tag": "section",
    "settings": [
	  {
		"type": "select",
		"id": "heading_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center",
		"label": "t:sections.general.settings.heading_aligment.label"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "page-width",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "select",
        "id": "grid",
        "options": [
          {
            "value": "col-6",
            "label": "t:sections.general.settings.grid.options__2.label"
          },
          {
            "value": "col-4",
            "label": "t:sections.general.settings.grid.options__3.label"
          },
          {
            "value": "col-md-6 col-3",
            "label": "t:sections.general.settings.grid.options__4.label"
          }
        ],
        "default": "col-4",
        "label": "t:sections.general.settings.grid.label"
      },
      {
        "type": "header",
		"content": "t:sections.blog-posts.settings.header_posts.content"
      },
      {
        "type": "range",
        "id": "post_limit",
        "min": 1,
        "max": 16,
        "step": 1,
        "default": 3,
		"label": "t:sections.blog-posts.settings.post_limit.label"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "auto",
			"label": "t:sections.general.settings.image_ratio.options__auto.label"
          },
          {
            "value": "0.75",
			"label": "t:sections.general.settings.image_ratio.options__portrait.label"
          },
          {
            "value": "1.333333",
			"label": "t:sections.general.settings.image_ratio.options__landscape.label"
          },
          {
            "value": "1",
			"label": "t:sections.general.settings.image_ratio.options__square.label"
          },
          {
            "value": "1, round-image",
            "label": "t:sections.general.settings.image_ratio.options__round.label"
          }
        ],
        "default": "auto",
        "label": "t:sections.general.settings.image_ratio.label"
      },
	  {
		"type": "select",
		"id": "texts_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center",
		"label": "t:sections.general.settings.texts_aligment.label"
	  },
	  {
		"type": "select",
		"id": "heading_tag",
		"options": [
		  {
			"value": "h3",
			"label": "t:sections.general.settings.heading_tag.options__normal.label"
		  },
		  {
			"value": "h4",
			"label": "t:sections.general.settings.heading_tag.options__small.label"
		  }
		],
		"default": "h4",
		"label": "t:sections.general.settings.heading_tag.label"
	  },
	  {
		"type": "select",
		"id": "excerpt_size",
		"options": [
		  {
			"value": "normal",
			"label": "t:sections.general.settings.description_size.options__normal.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.description_size.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.blog-posts.settings.excerpt_size.label"
	  },
      {
        "type": "checkbox",
        "id": "show_image",
        "default": true,
		"label": "t:sections.blog-posts.settings.show_image.label"
      },
      {
        "type": "checkbox",
        "id": "truncate_post_heading",
        "default": false,
		"label": "t:sections.blog-posts.settings.truncate_post_heading.label"
      },
      {
        "type": "checkbox",
        "id": "hover_underline",
        "default": false,
        "label": "t:sections.general.settings.hover_underline.label"
      },
      {
        "type": "checkbox",
        "id": "showtags",
        "default": true,
		"label": "t:sections.blog-posts.settings.showtags.label"
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
		"label": "t:sections.blog-posts.settings.show_date.label"
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "default": true,
		"label": "t:sections.blog-posts.settings.show_author.label"
      },
      {
        "type": "checkbox",
        "id": "show_comment_count",
        "default": true,
		"label": "t:sections.blog-posts.settings.show_comment_count.label"
      },
	  {
        "type": "select",
        "id": "excerpt",
        "options": [
          {
            "value": "hide",
            "label": "t:sections.blog-posts.settings.excerpt.options__hide.label"
          },
          {
            "value": "show",
            "label": "t:sections.blog-posts.settings.excerpt.options__show.label"
          },
          {
            "value": "show_truncated",
            "label": "t:sections.blog-posts.settings.excerpt.options__truncated.label"
          }
        ],
        "default": "show",
        "label": "t:sections.blog-posts.settings.excerpt.label"
      }
	]
  }
{% endschema %}