{%- if section.settings.show_color_line -%}
<div class="header__color-line"></div>
{%- endif -%}

<header class="{{ section.settings.width }}"
        data-role="{{ theme.role }}">
  <div class="password-header{% if shop.password_message == blank %} logo-in-center{% endif %}">
    {%- if section.settings.logo_svg != blank -%}
    {%- assign width = section.settings.logo_svg | split: 'width="' | last | split: '"' | first | times: 1.0 -%}
    {%- assign height = section.settings.logo_svg | split: 'height="' | last | split: '"' | first | plus: 0 -%}
    {%- assign aspect_ratio = height | divided_by: width -%}
    <div class="password-logo--svg" style="--max-width: {{ section.settings.logo_max_width }}px; --max-height: {{ section.settings.logo_max_width | times: aspect_ratio }}px;">
      {{ section.settings.logo_svg }}
    </div>
    {%- elsif section.settings.logo -%}
    <img
         src="{{ section.settings.logo | image_url: width: 500, height: 500 }}"
         class="password-logo"
         alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
         style="max-width: {{ section.settings.logo_max_width }}px"
         width="{{ section.settings.logo_max_width }}"
         height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}"
         loading="lazy"
         >
    {%- else -%}
    <h1 class="mt0 mb0 h3">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}
    
    {%- if text != blank -%}
      <div class="password-content">
        {{ text }}
      </div>
    {%- endif -%}

    
    <modal-opener class="display-flex popup-modal__opener no-js-hidden" data-modal="#PopupModal-password">
      <button id="ProductPopup-message"
              class="link btn-medium btn-medium--type-small btn-medium--icon color-accent-to-base popup-modal__button"
              type="button" aria-haspopup="dialog">
        {% render 'icon-lock' %}
        <span>{{ 'general.password_page.login_password_button' | t }}</span>
      </button>
    </modal-opener>
  </div>
</header>

<password-modal id="PopupModal-password" class="popup-modal">
  <div role="dialog" aria-label="{{ 'general.password_page.login_form_heading' | t }}" aria-modal="true" class="popup-modal__content">
    <button id="ModalClose-message" type="button" class="popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">
      {% render 'icon-close' %}
    </button>
    <div class="mt--first-child-0">
      <h3>{{ 'general.password_page.login_form_heading' | t }}</h3>
      
      {%- form 'storefront_password', class: 'password-form' -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="field field-with-icon w-full">
        <input class="field__input"
               autocomplete="current-password"
               type="password"
               name="password"
               id="Password"
               {% if form.errors %}
               aria-invalid="true"
               aria-describedby="PasswordLoginForm-password-error"
               {%- endif -%}
               placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
               required
               >
        <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
        <div class="field__icon">
          {% render "icon-lock" %}
        </div>
        <button type="submit" class="field__button" name="commit">
          {% render 'icon-arrow-right' %}
        </button>
      </div>
      {%- if form.errors -%}
      <div id="PasswordLoginForm-password-error" role="status">
        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
        <div class="form__message password-form__error-message-wrapper">
          {%- render "icon-attention" -%}
          <span>{{ 'general.password_page.login_form_error' | t }}</span>
        </div>
      </div>
      {%- endif -%}
      {%- endform -%}
      <p class="password__footer-text body3">{{ 'general.password_page.admin_link_html' | t }}</p>

    </div>
  </div>
</password-modal>

{% schema %}
  {
    "name": "t:sections.main-password-header.name",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_color_line",
        "default": true,
        "label": "Show color line"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "page-width",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.main-password-header.settings.logo.label"
      },
	  {
        "type": "html",
        "id": "logo_svg",
        "label": "t:sections.main-password-header.settings.logo_svg.label",
        "info": "Если свг код вставлен то у него высший приоритет"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
        "label": "t:sections.main-password-header.settings.logo_max_width.label"
      }
	]
  }
{% endschema %}